form{
    border: solid 1px;
    width: 600px;
    margin-left: 500px;
    background-color: rgb(211, 231, 239);
    padding-left: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgb(1, 1, 12);
}
label{
    font-size: 20px;
    font-weight: bold;

}
textarea{
    width: 400px;
    height: 80px;
}
button{
    
}